
table.space {
  border:1px solid;
}

div.space {
  float: left;
  margin-right: 20px;	
  margin-bottom: 20px;
}

div.space_action {
  clear:both;
  margin-top:20px;
}

#content_list {
  float:left;
  margin-right:20px;
  border:0px solid #fff;
}

#content_target {
  width:400px;
  height:250px;
  border:0px solid #fff;
}

td {
  padding:5px;
}

#error {
  font-size: 1.2em;
  color: red;
  margin: 20px 0px; 
}