/**
* created by Daniel Bernstein
*/
body {
	font-family: Arial, Helvetica, sans-serif;
	*font-size:	90%; /* IE only */
}

.horizontal-list {
	padding:0;
	margin:0;
}
	
.horizontal-list li{
	display:inline; 
	list-style-type:none;	
	padding-left:0;
	margin-left:0;
	margin-bottom:0;
}

.dc-selected-list-item {
	background-color:#999;
}

.dc-checked-list-item {
	background-color:#555;
	color:#FFF;
}


.dc-item div:first-child {
	float:left;
}

.dc-item-list .dc-action-panel{
	float:right;
	z-index:10;
}

.dc-item {
	padding-top:0.25em;
	padding-bottom:0.25em;
	
	border-collapse:  collapse;
}

.dc-item:hover {
	border-bottom: 1px solid orange;
	cursor: 
}


.dc-dialog {
	border: 1px solid #DDD;
	background-color: #EEE;	
}

/*
 * ADD BORDERS & COLORS TO LAYOUT ELEMENTS
 */
/* use 'generic classes' to add default backgrounds & borders */
.ui-layout-pane		{ 
	background: #FFF; 
	border: 1px dashed #999;
	padding: 0px; 
	overflow: auto;
}
.ui-layout-resizer	{ background: #FFF; }
.ui-layout-toggler	{ background: #999; }
/* give specific elements their own colors */

#dc-logo, #dc-partner-logo {
	height:65px;
	background-color:#DDD;
	
}

#dc-logo {
	float:left;
	width:200px;
	
}

#dc-partner-logo {
	float:right;
	width:100px;
}

.dc-mouse-panel {
	visibility: hidden;
}

.dc-toggler {
	float:right;
}