
.space {
  border:1px solid;
}

#add_space {
  margin-top:20px;
}

#content_list {
  float:left;
  margin-right:20px;
  border:0px solid #fff;
}

#content_target {
  width:400px;
  height:250px;
  border:0px solid #fff;
}

td {
  padding:5px;
}