/*
* Created by Daniel Bernstein
* Modified by Charles Hacskaylo
*/

/* RESETTERS *************************************************/
/* Eric Meyer: 
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/* CLEARFIX *************************************************/

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

	
.horizontal-list li
{
	display:inline-block;
}


body {
	background:#fff url(../images/bg_clouds.jpg) repeat-y;
	font-family: Verdana, Helvetica, sans-serif;
	font-size:1em;
	*font-size:	90%; /* IE only */
	margin-right:10px !important;
}

h1, h2, h3
{
	font-family:Helvetica, Sans-Serif;
}

h1 { font-size:2em; font-weight:normal; }
h2 { font-size:1.3em; font-weight:normal; }
h3 { font-size:1em; }


.float-l {float:left; }
.float-r {float:right; }



/* MAIN PAGE ELEMENTS ******************************************/

#page-header
{
	padding-top:10px;
}

#page-content
{
	background:url(../images/bg_L1.png) no-repeat top right;
}

#center-pane-north
{
	color:#9b9b9b;
	font-size:13px;
	padding:10px;
}

.dc-prototype {
	
	display:none;	
}

#list-browser
{
	background:#6e6e6e url(../images/bg_list_browser_header.gif) no-repeat top right;
}

.ui-layout-pane-west
{
	font-size:11px;
}

.dc-item-list
{
	margin:5px;
}

 .dc-item-list-wrapper
{
	background-color:#cbcbcb;
	border:1px solid #595959;
	border-top-color:#333;
	border-bottom-color:#6e6e6e;
	color:#000;
	overflow:auto;
}

.dc-item-list-wrapper a
{
	color:#000;
}

.list-header
{
	padding:5px;
}

.list-header h2
{
	display:inline;
	font-size:13px;
}

.ui-layout-pane		{ 
	color:#fff;
}

.ui-layout-resizer
{
}

#spaces-list-view-resizer
{	
	background-color:#6e6e6e;
	border-top:1px solid #828282;
}

#list-browser-resizer
{

}

.ui-layout-toggler
{
	background:url(../images/grippy.gif) no-repeat top left;
	height:100px !important;
}


.ui-layout-south
{
	background:url(../images/bg_L1_btm.png) no-repeat top right;
	padding:15px 10px 10px 10px;
}

.ui-layout-south .sep
{
	color:#47c1ff;
}

/* BUTTONS *******************************************/

.std a,
a.std,
.std a span,
a.std span
{
	background-image:url(../images/btn_std.gif) !important;
	color:#ccc;
}

.plus
{
	background:url(../images/icon_sm_plus.gif) no-repeat top left;
}

.std .plus
{
	background:url(../images/icon_sm_plus_std.gif) no-repeat top left;
}


.pencil
{
	background:url(../images/icon_sm_pencil.gif) no-repeat top left;
}

.trash
{
	background:url(../images/icon_sm_trash.gif) no-repeat top left;
}


.lock
{
	background:url(../images/icon_sm_locked.gif) no-repeat center left;
	padding-left:15px !important;
}

.unlock
{
	background:url(../images/icon_sm_unlocked.gif) no-repeat center left;
}

.locked,
.unlocked
{	
	background-position:top left;
}

.arw-down-blue
{
	background:url(../images/icon_sm_arw_blue.gif) no-repeat top right;
}

.arw-down-green
{
	background:url(../images/icon_sm_arw_green.gif) no-repeat top right;
}

.switch-holder,
.switch-holder div.r
{
	background:url(../images/switch_holder.gif) no-repeat;
	display:block;
	height:35px;
}

.switch-holder div.r
{
	background-position:top right;
	padding-top:5px;
}

.switch-holder
{
	margin:20px;
}

#select-provider,
#select-provider span
{
	background-image:url(../images/btn_provider.gif);
}

a#select-provider span i
{
	color:#76e8ff !important;
	padding-right:100px;
}

/* TABS **********************************************/
/* Extends css.flex *****/

.dc-main-tabs
{
	position:absolute;
	left:10px;
	top:65px;
	opacity:0.7;
}

.dc-main-tabs li
{
	margin:0;
}

.dc-main-tabs a,
.dc-main-tabs a span
{
	color:#000;
	font-size:13px;
	height:22px;
	line-height:22px;
}

.dc-main-tabs a span
{
	margin:0 -2px;
}

.dc-main-tabs .selected a,
.dc-main-tabs a:hover
{
	background:url(../images/tab.gif) no-repeat top left;
}

.dc-main-tabs .selected a span,
.dc-main-tabs a:hover span
{
	background:url(../images/tab.gif) no-repeat top right;
	color:#fff !important;
}


/* LIST ITEMS **********************************************/

.dc-item {
	border-bottom:1px solid #bbbbbb;
	border-collapse:  collapse;
	color:#000;
	padding-bottom:2px;	
	padding-top:2px;
}

.dc-selected-list-item {
	background-color:#7e7e7e;
}

.dc-checked-selected-list-item {
	background-color:#888;
	color:#FFF;
}

.dc-checked-list-item {
	background-color:#999;
	color:#FFF;
}

.dc-item div:first-child {
	float:left;
}

.dc-item-list .dc-action-panel{
	float:right;
}

.dc-action-panel
{
	margin-right:20px;
}


.dc-item:hover {
	background-color:#9b9b9b;
	cursor: pointer;
}

.dc-dialog {
	border: 1px solid #DDD;
	background-color: #EEE;	
}

/* PAGE TOP ********************************************************/

#dc-logo-panel
{
	padding-left:10px;
}

#dc-logo,
#dc-app-title
{
	background-repeat:no-repeat;
	display:inline-block;
	float:left;
	height:45px;
}

#dc-logo
{
	background-image:url(../images/logo_top_duracloud.png);
	width:110px;
}

#dc-app-title
{
	background-image:url(../images/app_title.png);
	width:280px;
}

#dc-user
{	
	border-right:solid 1px #ccc;
	height:60px;
	margin-right:10px;
	padding-right:20px;
	text-align:right;
	width:500px;
}

#logo-ds
{
	background:url(../images/logo_duraspace_onwhite.gif) no-repeat top left;
	width:98px;
	height:18px;
}

.outer,
.outer a
{
	color:#4c4c4c;
	font-size:11px;
}


.dc-mouse-panel {
	visibility: hidden;
}

.dc-mouse-panel-activator
{
	cursor:pointer;	
}	
	
.dc-toggler {
	float:right;
	background: url(../images/icon_sm_arw_liteblue.gif) no-repeat top left;
	width:25px;
	height:25px;
}

.dc-expandable-panel div:first-child{
	cursor: pointer;		
}

/* DETAIL PANE ****************************************************/

.detail-pane
{
	
}

.detail-pane h1
{
	color:#777;
	margin-bottom:10px;
}

.detail-pane h2
{
	color:#ccc;
	margin-bottom:10px;
}

.detail-pane .north
{
	background:url(../images/bg_details_header.png) repeat-x bottom left;
	padding:0 10px;
}

.detail-pane .center
{
	background-color:#414141;
	border:1px solid #2d2d2d;
	border-top-color:#333;
	border-bottom-color:#999;
	font-family:Verdana, Sans-Serif;
	font-size:11px;
	overflow: auto;
}

.detail-pane .segment-header
{
	background:url(../images/bg_segment_header.gif) repeat-x top left;
	border-bottom:1px solid #333;
	color:#999;
	font-size:13px;
	height:28px;
	line-height:25px;
	padding:0 10px;
}

.detail-pane .segment-content
{
	padding:10px;
}

.detail-pane .segment-content table
{
	width:100%;
}

.detail-pane .segment-content table td
{
	border-bottom:1px solid #555;
	padding:4px 5px 4px 0;
}

.detail-pane .segment-content table td.label,
span.label
{
	color:#999;
}

.detail-pane .segment-content table td.label
{
	width:30%;
}


.detail-pane .segment-content table td.value
{
	width:70%;
}

.detail-pane .segment-content input
{
	background-color:#484747;
	border:1px solid #7a7a7a;
	color:#ccc;
	padding:2px;
}

.detail-pane .mime-type
{
	background:url(../images/icons_mimetypes.gif) no-repeat;
	font-size:13px;
	height:40px;
	line-height:40px;
	margin:10px 0;
	padding-left:50px;
}

.detail-pane #mime-jpeg
 {
 	background-position:top left;
 }
 
 

	