body{
	padding:0;
	margin:0;	
}

#header {
	width:100%;
	background-color:#FFFFAA;
}



#menu {
	width:10em;
	min-width:10em;
	background-color:#FFAAAA;
}

#main-content {
	background-color:#AAAAAA;
}

#menu, #main-content {
	vertical-align:top;
	padding:5px;		
}

#footer {
	width:100%;
	background-color:#AAFFAA;
	float:left;
}

/*The default header style*/
div.header {
	background-color: #FFFFAA;
	padding: 10px;
}

table.space {
  border:1px solid;
}

div.service {
  margin-right: 20px;   
  margin-bottom: 20px;
}

div.space {
  float: left;
  margin-right: 20px;	
  margin-bottom: 20px;
}

div.space_action {
  clear:both;
  margin-top:20px;
}

#contents {
  float:left;
  margin-right:20px;
}

#content_list {
  border:0px solid #fff;
}

#content_target {
  width:450px;
  height:450px;
  border:0px solid #fff;
}

td {
  padding:5px;
}

#error {
  font-size: 1.2em;
  color: red;
  margin: 20px 0px; 
}