body{
	padding:0;
	margin:0;	
}

body, #footer{
	/*slate gray*/
	background-color:#B9D3EE;
}

#header {
	width:100%;
	/*deep sky blue*/
	background-color:#00B2EE;
	color:#FFF;
}

#top-header{
	padding:1em;
}

#main-menu {
	width:100%;
	background-color:#CAE1FF;
}

table.body{
	min-height:40em;	
	width:100%	
}



#menu-div {
	width:10em;
	min-width:10em;
	background-color:#F5DEB3;
}

#main-content {
	background-color:#FFFFEE;
}

#menu-div, #main-content {
	vertical-align:top;
	padding:1em;		
}

#footer {
	width:100%;
	padding:0.5em;
	font-size:0.8em;
	float:left;
}

/*The default header style*/
div.header {
	background-color: #FFFFAA;
	padding: 10px;
}

table.space {
  border:1px solid;
}

div.service {
  margin-right: 20px;   
  margin-bottom: 20px;
}

div.space {
  float: left;
  margin-right: 20px;	
  margin-bottom: 20px;
}

div.space_action {
  clear:both;
  margin-top:20px;
}

#contents {
  float:left;
  margin-right:20px;
}

#content_list {
  border:0px solid #fff;
}

#content_target {
  width:450px;
  height:450px;
  border:0px solid #fff;
}

td {
  padding:5px;
}

#error {
  font-size: 1.2em;
  color: red;
  margin: 20px 0px; 
}